<html>
{% load widget_tweaks %}

<head>
    <title>Simulation Parameters</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</head>

<body>
    <div class="container">
        <h1 class="display-4">Simulation Settings</h1>
    </div>

    <div class="container">
        <form action='' method="POST">
            {% csrf_token %}
            <div class="form-group">
                <h3>{{form.regional_settings_header}}</h3>
                <div class="form-row">
                    {% for field in form.visible_fields %}
                    {% if "select_" in field.name %}
                    <div class="col">
                        <div class="input-group-mb3">
                            <label for={{field.id_for_label}}><b>{{field.label}}</b></label>
                            {% render_field field class="custom-select"%}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>


            <div class="form-group">
                <h3>{{form.environment_settings_header}}</h3>
                <div class="form-row">
                    {% for field in form.visible_fields %}
                    {% if "env_" in field.name %}
                    <div class="col">
                        <div class="input-group-mb3">
                            <label for={{field.id_for_label}}><b>{{field.label}}</b></label>
                            {% render_field field class="form-control"%}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

            </div>
            <div class="form-group">
                <h3>{{form.simulation_settings_header}}</h3>
                <div class="form-row">
                    {% for field in form.visible_fields %}
                    {% if "sim_" in field.name %}
                    <div class="col">
                        <div class="input-group-mb3">
                            <label for={{field.id_for_label}}><b>{{field.label}}</b></label>
                            {% render_field field class="form-control"%}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>

</html>